@import "../../vars";
@import "../../mixins";

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include media-phone {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}