@import "../../vars";
@import "../../mixins";

.reader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;

  &__main {
    position: relative;
    flex: 1 1 auto;

    &-loader {
      @extend %absolute-center;
    }
  }

  &__footer {
    flex: 0 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;

    @include media-phone {
      flex: 0 0 50px;
      padding: 0 20px;
    }
  }

  &__content {
    @extend %full-screen;
    transition: opacity .3s;

    &--shown {
      opacity: 1;
    }

    &--paginated {
      left: 80px;
      right: 80px;
      @include media-phone {
        left: 0;
        right: 0;
      }
    }

    &--scrolled {
      left: 0;
      right: -17px;
    }

  }

  &__pagination {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
    z-index: 1;
    @include media-phone {
      width: 40%
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:hover {
      opacity: 1;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: black;
      width: 20px;
      height: 59px;
      @include media-phone {
        display: none;
      }
    }

    &--next {
      svg {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }
  }
}