@import "../../../vars";
@import "../../../mixins";

.header {
  flex: 0 0 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;

  @include media-phone {
    flex: 0 0 44px;
    padding: 0 15px;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__btn {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    svg {
      fill: black;
    }

    &:hover {
      svg {
        fill: $accentColor;
      }
    }
  }

  &__right {
    .header__btn {
      margin-left: 20px;
    }
  }

  &__left {
    .header__btn {
      margin-right: 20px;
    }
  }

}